$background-color: #c3cfe2;
$footer-testimonial: #686de0;
$text-background: #fff;
$socialblog: #e17b77;
$socialfacebook: #3b5998;
$socialtwitter: #00aced;
$sociallinkedin: #007bb6;
$socialgithub: #333;

