@import './colors';
@import './variables';

body{
    background-color: $background-color;
}
.socialmedia{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}
i{
    width: 30px;
    height: 25px;
}
.fa-laptop-code{
    background-color: $socialblog;
    @include padding;
}
.fa-twitter{
    background-color: $socialtwitter;
    @include padding;
}
.fa-linkedin-in{
    background-color: $sociallinkedin;
    @include padding;
}
.fa-facebook-f{
    background-color: $socialfacebook;
    @include padding;
}
.fa-github{
    background-color: $socialgithub;
    @include padding;
}



.fa-laptop-code:hover{
    @include hover;
}
.fa-twitter:hover {
    @include hover;
}
.fa-linkedin-in:hover {
    @include hover;
}
.fa-facebook-f:hover {
    @include hover;
}
.fa-github:hover {
    @include hover;
}

.fa-laptop-code::before{
    content: "\f5fc";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-linkedin-in::before {
    content: "\f0e1";
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-github::before {
    content: "\f09b";
}

.fa-laptop-code:hover::after{
    content: "Check out my blog";
}
.fa-twitter:hover::after{
    content: "Follow me on Twitter";
}
.fa-linkedin-in:hover::after{
    content: "Connect on Linkedin";
}
.fa-facebook-f:hover::after{
    content: "Like my Facebook page";
}
.fa-github:hover::after{
    content: "See projects on Github";
}